html, body {
    width:100%;
    height:100%;
    overflow:auto;
}
.mynav {
    height: 55px;
}
.container {
    height: 100%;
    padding:0;
    padding-top: 55px;
}
.mycontainer {
    margin:auto;
    max-width: 80%;
    height: 80%;
}

.chatbox {
    clear: both;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    line-height: 1.4;
}
.left {
    float: left;
    border-radius: 10px 10px 10px 0;
    margin-right: 20px;
}

.msg-container {
    max-width: 80%;
    width: 700px;
    margin-top: 20px;
}
/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
    text-align: right;
    float:right;
    border-radius: 10px 10px 0 10px;
    margin-right: 20px;
}

/* Clear floats */
.chatbox::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chatbox img {
    float: left;
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.chatbox img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.timestamp {
    font-size: 10px;
    color: #999;
}

.messages {
    overflow: scroll;
    height: 80%;
    max-height: 400px;
    margin-bottom: 18px;
}
.message-input {
    width: 100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
