/*-----------------search.html----------------------*/


.movie-block-row {
  width: 1000px;
  margin: auto;
}
.movie-block-cover {
  display: block;
  float:left;
  height:400px;
  width:250px;
}
.movie-block {
  height: 360px;
  width: 250px;
  color: #fff;
  text-align: center;
}

.img-movie-block {
  height: 300px;
  width: 200px;
  border: solid black;
}

.detail-movie-block {
  text-align: center;
  margin: 3px;
}

.detail-movie-block strong{
  color: orange;
}

.detail-pop {
  font-family: "Times New Roman", Times, serif;
  width: 300px;
  background: rgba(255, 240, 240, 0.8);
  position: absolute;
  padding: 10px;
  border: solid white;
}
.detail span {
  font-weight:bold;
}
.detail {
  color: black;
}
.detail strong {
  color: rgba(226, 102, 41, 0.85);
}
.detail-pop h3 a{
  color: #0787ef;
}

/*-------------------wishlist.html------------------*/
.wishlist-row {
  width: 1100px;
  /*float: left;*/
  margin: auto;
}
.wishlist-wrapper{
  padding: 25px;
  float: left;
}
.wishlist-block {
  font-family: "Times New Roman", Times, serif;
  width: 500px;
  height: 290px;
  padding: 25px;
  background: rgba(255, 240, 240, 0.3);
}
.img-wishlist {
  height: 240px;
  width: 160px;
  border: solid black;
}
.wishlist-detail {
  width: 290px;
  height: 240px;
  float: left;
  padding-left: 15px;
  position: relative;
}

.wishlist-detail .wltitle {
    max-height: 32px;
    overflow: hidden;
}

.wishlist-detail .wlgenre {
    max-height: 24px;
    overflow: hidden;
}

.wishlist-detail .wltitle h4 a{
  color: #71b7f7ed;
  font-weight: bold;
  overflow: hidden;
}

.wldetail {
  color: white;
  max-height: 130px;
  overflow-y: scroll;
}
.wldetail span{
  font-weight: bold;
}
.wldetail strong{
  color: orange;
}
.remove-btn{
  text-decoration: underline;
  color: #abababf0;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0px;
}
.remove-btn:hover {
    /*background-color: yellow;*/
    color: #71b7f7ed;
    cursor: pointer;
}
.image-wrapper {
  width:160px;
  float: left;;
}
